@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

/* ---Variables--- */
:root{
    --color-1: #bdc3c7;
    --color-2: #000000;
    --color-3: #ecf0f1;
    --color-4: #f54343;
    --color-5: #ffffff;
    --color-6: #cf1818;
}

/* ---Reset--- */
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    box-sizing: border-box;
    border-radius: 10px;
}

/* ---Common--- */
html{
    background-color: var(--color-5);
}

body{
    background-color: var(--color-1);
    width: 80%;
    margin: 0 auto;
    /* padding: 15px; */
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    text-align: center;
    color: var(--color-3);
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.btn{
    background-color: var(--color-2);
    color: var(--color-3);
    padding: 10px 30px;
    border: 0;
    cursor: pointer;
}

img{
    max-width: 100%;
}

.wrapper{
    display: grid;
    grid-gap: 0px;
    grid-template-columns: 1fr;
}

.wrapper section,
.wrapper footer{
    /* margin-bottom: 30px; */
    border-radius: 0px;
}

/* ---Navigation--- */
.main-nav{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-gap: 0px;
}

/* Logo */
.main-nav .logo h3{
    color: var(--color-3);
    line-height: 100%;
    background-color: var(--color-2);
    padding: 12px;
    text-align: center;
    border-radius: 0px;
}

.main-nav .logo h3 span{
    background-color: var(--color-3);
    padding: 7px;
    color: var(--color-2);
}

/* Menu Items */
.main-nav ul{
    display: grid;
    grid-gap: 0px;
    padding: 0;
    grid-template-columns: repeat(5, 1fr);
}

.main-nav a{
    background-color: var(--color-2);
    display: block;
    padding: 12px;
    color: var(--color-3);
    font-size: 1rem;
    border-radius: 0px;
}

.main-nav a:hover{
    background-color: var(--color-6);
}

/* Mobile Menu */
#menu-show{
    display: none;
}

.main-nav label{
    position: absolute;
    top: 25px;
    right: 40px;
    cursor: pointer;
    display: none;
}

.main-nav label i{
    color: var(--color-5);
    font-size: 1.5rem;
}

/* ---Top Container--- */
.top-container{
    display: grid;
    grid-gap: 0px;
    grid-template-areas: 
        'showcase top-boxa top-boxb'
        'showcase top-boxc top-boxd';
}

/* Showcase */
.showcase{
    grid-area: showcase;
    padding: 50px;
    background-image: url(https://images.pexels.com/photos/3888151/pexels-photo-3888151.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    grid-gap: 30px;
    padding-top: 80px;
    border-radius: 0px;
}

.showcase p{
    padding: 20px;
    background-color: var(--color-1);
    color: var(--color-2);
    line-height: 25px;
}

.showcase h1{
    max-width: 400px;
    padding: 20px 30px;
    background-color: var(--color-1);
    color: var(--color-2);
    text-align: center;
    font-size: 2rem;
}

.showcase .btn{
    display: inline-block;
    margin-bottom: 20px;
    border: 1px solid var(--color-3);
}

.showcase .btn:hover{
    background-color: var(--color-6);
}

/* Top Boxes */
.top-box{
    padding: 50px 40px;
    background-color: var(--color-1);
    color: var(--color-2);
    border-radius: 0px;
    transition: all 0.3s ease-in;
}

.top-boxa{
    grid-area: top-boxa;
    background-color: var(--color-1);
}

.top-boxb{
    grid-area: top-boxb;
    background-color: var(--color-3);
}

.top-boxc{
    grid-area: top-boxc;
    background-color: var(--color-3);
}

.top-boxd{
    grid-area: top-boxd;
    background-color: var(--color-1);
}

.top-box:hover{
    background-color: var(--color-4);
}

.top-box p{
    margin: 30px 0;
}

.top-box .btn:hover{
    background-color: var(--color-6);
}

/* ---Services--- */
.service{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    background-color: var(--color-2);
    padding: 50px 30px;
}

.service .box{
    background-color: var(--color-3);
    text-align: center;
    padding: 30px 10px;
    color: var(--color-2);
    transition: all 0.3s ease-in;
}

.service .box h3{
    margin: 10px 0;
}

.service .box i{
    font-size: 3rem;
}

.service .box:hover{
    background-color: var(--color-4);
}

/* ---About--- */
.about{
    color: var(--color-2);
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr 3fr;
    padding: 50px 30px;
}

/* Image */
.about img{
    background-color: var(--color-2);
    padding: 20px;
}

/* Info */
.about div{
    background-color: var(--color-3);
    padding: 30px 20px;
}

.about div p{
    margin: 20px 0;
}

.about div ul{
    margin-bottom: 30px;
    margin-left: 20px;
    list-style: disc;
}

.about div .btn:hover{
    background-color: var(--color-6);
}

/* ---Reviews--- */
.review{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr;
    background-color: var(--color-2);
    padding: 50px 30px;
}

.review .row{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.review .row .client{
    background-color: var(--color-3);
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 3fr;
    border-radius: 10px;
    overflow: hidden;
}

.review .row .client p{
    margin: auto;
    padding: 10px 20px;
    background-color: var(--color-2);
    color: var(--color-3);
}

.review .row .client p i{
    font-size: 0.8rem;
}

.review .row .client img{
    max-width: 150px;
    min-height: 150px;
    height: 100%;
    border-radius: 0px;
}

/* ---Contact--- */
.contact{
    padding: 50px 30px;
}

.contact form{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr;
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
}

.contact form input{
    height: 50px;
    padding: 0 30px;
    color: var(--color-6);
    border: 3px var(--color-2) solid;
    font-size: 1rem;
    transition: all 0.3s ease-in;
}

.contact form textarea{
    resize: none;
    height: 150px;
    padding: 20px 30px;
    border: 3px var(--color-2) solid;
    font-size: 1rem;
    transition: all 0.3s ease-in;
}

.contact form input::placeholder,
.contact form textarea::placeholder{
    color: var(--color-2);
}

.contact form button{
    height: 50px;
    font-size: 1rem;
    color: var(--color-3);
    background-color: var(--color-2);
    border: 3px var(--color-2) solid;
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.contact form button:hover{
    background-color: var(--color-6);
    border: 3px var(--color-6) solid;
}

/* ---Footer--- */
footer{
    display: grid;
    grid-gap: 0px;
    grid-template-columns: 1fr;
    background-color: var(--color-2);
}

/* Upper */
footer .upper{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    padding: 50px 30px;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    border-radius: 0px;
}

footer .upper .fbox ul{
    text-align: left;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr;
    padding: 25px 0px;
}

footer .upper .fbox ul a:hover{
    color: var(--color-4);
}

footer .upper .fbc{
    text-align: center;
    padding: 25px;
}

footer .upper .fbc a{
    margin: 0 10px;
}

footer .upper .fbc a i{
    color: var(--color-3);
    font-size: 1.7rem;
    transition: all 0.3s ease-in;
}

footer .upper .fbc a i:hover{
    color: var(--color-4);
}

/* Lower */
footer .lower{
    background-color: var(--color-1);
    border-radius: 0px;
    padding: 40px 20px;
}

footer .lower p{
    text-align: center;
    color: var(--color-2);
    font-size: 0.9rem;
}

/* ---Responsive--- */
@media(max-width: 1150px){
    /* ---Navigation--- */
    .main-nav{
        grid-template-columns: 1fr;
    }

    .main-nav .logo h3{
        padding: 30px 0px;
    }

    /* ---Top Container--- */
    .top-container{
        grid-template-areas: 
        'showcase showcase'
        'top-boxa top-boxb'
        'top-boxc top-boxd';
    }

    /* ---Services, About, Review & Footer--- */
    .service,
    .about,
    .review,
    footer .upper{
        grid-template-columns: 1fr;
        padding-left: 120px;
        padding-right: 120px;
    }

    .about img{
        margin: 0 auto;
    }

    .review .row{
        grid-template-columns: 1fr;
    }

    footer .upper .fbox ul{
        text-align: center;
    }
}


@media(max-width: 750px){
    /* ---Services, About, Review & Contact--- */
    .service,
    .about,
    .review,
    .contact{
        padding-left: 25px;
        padding-right: 25px;
    }

    footer .upper .fbc a{
        margin: 0 1px;
    }
    
}

@media(max-width: 550px){
    /* ---Body--- */
    body{
        width: 100%;
    }

    /* ---Navigation--- */
    .main-nav ul{
        grid-template-columns: 1fr;
        visibility: hidden;
        opacity: 0;
        max-height: 0;
        transition: all 0.3s ease-in;
    }

    .main-nav label:nth-child(2){
        display: block;
    }

    .top-container{
        grid-template-areas: 
        'showcase'
        'showcase'
        'top-boxa'
        'top-boxb'
        'top-boxc'
        'top-boxd';
    }

    /* ---Review--- */
    .review .row{
        max-width: 180px;
    }

    .review .row .client{
        grid-template-columns: 1fr;
    }

    .review .row .client p{  
        margin: 5px;
    }

    .review .row .client img{
        max-width: 180px;
    }

    /* ---Footer--- */
    footer .upper .fbc a i{
        font-size: 1.5rem;
    }

    /* ---Responsive Menu--- */
    #menu-show:checked ~ ul{
        visibility: visible;
        opacity: 1;
        max-height: max-content;
    }

    #menu-show:checked ~ label:nth-child(2){
        display: none;
    }

    #menu-show:checked ~ label:nth-child(3){
        display: block;
    }
}


